<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity android:name=".ui.ContactViewActivity"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <data android:mimeType="vnd.android.cursor.item/person"/>
                <data android:mimeType="vnd.android.cursor.item/contact"/>
                <data android:mimeType="vnd.android.cursor.item/raw_contact"/>
            </intent-filter>
        </activity>

    </application>

    <queries>

        <intent>
            <category android:name="android.intent.category.DEFAULT"/>
            <action android:name="android.intent.action.DIAL"/>
            <data android:scheme="tel"/>
        </intent>

        <intent>
            <category android:name="android.intent.category.DEFAULT"/>
            <action android:name="android.intent.action.SEND"/>
            <data android:scheme="sms"/>
        </intent>

        <intent>
            <category android:name="android.intent.category.DEFAULT"/>
            <action android:name="android.intent.action.SENDTO"/>
            <data android:mimeType="*/*"/>
        </intent>

    </queries>

</manifest>