<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity android:name=".ui.ContactListActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Contacts.Splash"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

    </application>

    <queries>

        <intent>
            <category android:name="android.intent.category.DEFAULT"/>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="content" android:mimeType="vnd.android.cursor.item/*"/>
        </intent>

    </queries>

</manifest>